Examples/*.dog linguist-detectable
Examples/*.dog linguist-language=CodeDog
LIBS/*.dog linguist-detectable
LIBS/*.dog linguist-language=CodeDog
*.dog linguist-detectable
*.dog linguist-language=CodeDog

Docs/** linguist-documentation
Scons/** linguist-vendored
